/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/tronflow-bwa Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
process.container = 'tron-bioinformatics/tronflow-bwa:1.1.0'

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
      docker.enabled = true
      // Avoid this error:
      //   WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
      // Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351
      // once this is established and works well, nextflow might implement this behavior as new default.
      docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  test {
    params.input_files = "test_data/test_input_paired.txt"
    params.reference = "$baseDir/test_data/ucsc.hg19.minimal.fasta"
    process {
      // Resource requirements for test should exceed 2 cpus for them work in CI environment
      withName:bwaAln1 {
        cpus = 1
        memory = 2g
      }
      withName:bwaAln2 {
        cpus = 1
        memory = 2g
      }
      withName:bwaAln {
        cpus = 1
        memory = 2g
      }
    }
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  //file = "${params.output}/execution_timeline.html"
}
report {
  enabled = true
  //file = "${params.output}/execution_report.html"
}
trace {
  enabled = true
  //file = "${params.output}/execution_trace.txt"
}
dag {
  enabled = true
  //file = "${params.output}/pipeline_dag.svg"
}

manifest {
  name = 'TRON-Bioinformatics/tronflow-bwa'
  author = 'Pablo Riesgo Ferreiro'
  homePage = 'https://github.com/TRON-Bioinformatics/tronflow-bwa'
  description = 'BWA alignment pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.1.0'
}
